.titleWrapper {

}

.title {
  color: #7E6859;
}

.header {
  color: #7E6859
}

.dateListWrapper {

}

.row {
  display: flex;
  justify-content: space-between;
}

.dateName {

}

.removeButton {

}

.inputWrapper {

}

.inputField {
  
}

.addButton {
  
}