.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.titleWrapper {

}

.title {
  color: #7E6859;
}

.header {
  color: #7E6859
}

.dateListWrapper {

}

.row {
  display: flex;
  justify-content: space-between;
}

.dateName {

}

.removeButton {

}

.inputWrapper {

}

.inputField {
  
}

.addButton {
  
}